@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
   background-image: url(assets/pexels-ylanite-koppens-796605.jpg);
   background-repeat: no-repeat;

}

.main-title {
    font-size: 3rem;
    
    
}

.main-section {

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}



.material-symbols-outlined {
    position: absolute;
    z-index: 1;
    top: 470px;
    
}

.form {
    font-family: 'Source Sans Pro', sans-serif;
}

.form input[type="search"]{
    height: 50px;
    width:330px;
    padding:30px;
    border-radius:0px;
    border-style: none;
    font-size: 18px;
}

.react-date-picker__wrapper {
    border: none;
    
}
 
  
