@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
  }
/* body {
   background-image: url(assets/pexels-emma-bauso-2253879.jpg);
   background-repeat: no-repeat;
   background-size: 100vw;

} */



.main-page {
    background-image: url(assets/pexels-emma-bauso-2253879.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.main-title {
    font-size: 3rem;
    
    
}

.main-section {

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}



.material-symbols-outlined {
    position: absolute;
    z-index: 1;
    top: 407px;
    
}

.form {
    font-family: 'Source Sans Pro', sans-serif;
}

.form input[type="search"]{
    height: 50px;
    width:330px;
    padding:30px;
    border-radius: 1rem;
    border-style: none;
    font-size: 18px;
}

.datePicker{
    height: 50px;
    background-color: aquamarine;
    border-radius: 1rem;
    
}


.submit-btn{
    height: 50px;
    width: 150px;
    border-radius: 1rem;
    background-color: green;
    border-style: none;

}




/* EVENT CARD */

.events-card-div{
    display: flex;
    flex-wrap:wrap;
   
}

.event-card {
    /* border: 2px solid black; */
    width:300px;
    margin: 26px;
   
}

.event-image {
    width: 296px;
    border-radius: 2rem;
}

.event-title {
    margin-top: 7px;
    margin-left: 3px;
    margin-bottom: 5px;
    font-size: 16px;
}



/* FOOTER */

.footer {
    background-color: #837468;
    height: 50px;
}

  
